body {
  /* font-family: "Poppins", sans-serif; */
}

.socialIcons {
  position: relative;
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: -30px;
}

.about-image {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.name h1 span {
  color: rgb(16, 204, 254);
}
.name h1 {
  color: whitesmoke;
}
.developer p {
  color: whitesmoke;
}
.developer p span {
  color: rgb(16, 204, 254);
}
.intro {
  color: whitesmoke;
  font-size: large;
  word-spacing: 3px;
}

.details {
  width: 485px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-picture {
  /* margin-left: 300px; */
  transform-style: preserve-3d;
}
.hover-opacity {
  border-radius: 20px;
  opacity: 0.3;
}
.hover-opacity:hover {
  opacity: 1;
}

/* .landingdiv {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(15, 44, 68);
} */

@import url("https://fonts.googleapis.com/css?family=Lato:100&display=swap");

.container {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91c9ff;
  outline: none;
  transition: 1s ease-in-out;
  border-radius: 5px;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: rgb(9, 235, 243);
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #0979e9;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: rgb(16, 204, 254);
  font-size: 18px;
  font-weight: 100;
}

.contactme a {
  text-decoration: none;
  color: floralwhite;
}

@media (max-width: 918px) {
  .about-image {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin: 10px;
  }
  .landingdiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(15, 44, 68);
  }
}
@media (min-width: 919px) {
  .landingdiv {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(15, 44, 68);
  }
}
@media (max-width: 540px) {
  .about-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .details {
    width: 350px;
  }
}
