.skillsprogressbar {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 44, 68);
}

.skillsprogressbar h1 {
  color: rgb(16, 204, 254);
}
.skillsprogressbar h2 {
  color: antiquewhite;
}

.skills {
  width: 80%;
}
.skills h2 {
  font-weight: 900;
  letter-spacing: 1px;
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: large;
}
.logo img {
  width: 30px;
}

.progressbar {
  width: 800px;
  height: 4px;
  border-radius: 5px;
  background: rgb(214, 214, 214);
}
.flex {
  display: flex;
  align-items: center;
  gap: 5px;
}

.htmlprogress {
  width: 0%;
  height: 4px;
  border-radius: 5px;
  background: rgb(251, 128, 40);
}
.cssprogress {
  width: 0%;
  height: 4px;
  border-radius: 5px;
  background: rgb(36, 101, 241);
}
.jsprogress {
  width: 0%;
  height: 4px;
  border-radius: 5px;
  background: rgb(212, 184, 48);
}
.reactprogress {
  width: 0%;
  height: 4px;
  border-radius: 5px;
  background: rgb(55, 130, 158);
}
.skillstext {
  animation: bounceInDown 1s;
}
@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0) scaleY(3);
  }

  60% {
    opacity: 0;
    transform: translate3d(0, 25px, 0) scaleY(0.9);
  }

  75% {
    opacity: 0;
    transform: translate3d(0, -10px, 0) scaleY(0.95);
  }

  90% {
    opacity: 0.5;
    transform: translate3d(0, 5px, 0) scaleY(0.985);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.htmlanimation {
  animation: html 1.5s linear forwards;
}
.cssanimation {
  animation: css 1.5s linear forwards;
}
.jsanimation {
  animation: js 1.5s linear forwards;
}
.reactanimation {
  animation: react 1.5s linear forwards;
}

@keyframes html {
  100% {
    width: 85%;
  }
}
@keyframes css {
  100% {
    width: 85%;
  }
}
@keyframes js {
  100% {
    width: 80%;
  }
}
@keyframes react {
  100% {
    width: 75%;
  }
}

@media (max-width: 918px) {
  .skillsprogressbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 44, 68);
    margin-top: -1px;
  }
}
@media (min-width: 919px) {
  .skillsprogressbar {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 44, 68);
  }
}
