.skillsprogressbar {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 44, 68);
}

.skillsprogressbar h1 {
  color: rgb(16, 204, 254);
}
.skillsprogressbar h2 {
  color: antiquewhite;
}

.skills {
  width: 80%;
}
.skills h2 {
  font-weight: 900;
  letter-spacing: 1px;
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: large;
}
.logo img {
  width: 30px;
}

.progressbar {
  width: 800px;
  height: 4px;
  border-radius: 5px;
  background: rgb(214, 214, 214);
}
.flex {
  display: flex;
  align-items: center;
  gap: 5px;
}

.htmlprogress {
  width: 0%;
  height: 4px;
  border-radius: 5px;
  background: rgb(251, 128, 40);
  animation: html 1s linear forwards;
}
.cssprogress {
  width: 0%;
  height: 4px;
  border-radius: 5px;
  background: rgb(36, 101, 241);
  animation: css 1s linear forwards;
}
.jsprogress {
  width: 0%;
  height: 4px;
  border-radius: 5px;
  background: rgb(212, 184, 48);
  animation: js 1s linear forwards;
}
.reactprogress {
  width: 0%;
  height: 4px;
  border-radius: 5px;
  background: rgb(55, 130, 158);
  animation: react 1s linear forwards;
}
@keyframes html {
  100% {
    width: 85%;
  }
}
@keyframes css {
  100% {
    width: 85%;
  }
}
@keyframes js {
  100% {
    width: 80%;
  }
}
@keyframes react {
  100% {
    width: 75%;
  }
}

@media (max-width: 918px) {
  .skillsprogressbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 44, 68);
    margin-top: -1px;
  }
}
@media (min-width: 919px) {
  .skillsprogressbar {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 44, 68);
  }
}
