.portdiv {
  margin-top: -1px;
  width: 100%;
  /* height: 100vh; */
}

.selecthead {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(15, 44, 68);
}
.vertical-timeline-element-title {
  margin: 0;
  margin-top: -46px;
  font-size: inherit;
}
.selecthead p {
  text-decoration: underline;
  color: rgb(16, 204, 254);
}

@media (max-width: 918px) {
  .selecthead {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(15, 44, 68);
    gap: 20px;
  }
  .portdiv {
    width: 100%;
  }
}
